@import '~reset-css';

html, body {
    min-height: 100vh;
}

body {
    &[data-theme-style='normal'] {
        --html-background: #fff;
        --date-color: #536471;
        --color: #000;
        --bar-background: #f5f5f5;
    }
    &[data-theme-style='dark'] {
        --html-background: #15202b;
        --date-color: #8599a6;
        --color: #fff;
        --text: #fff;
        --label-color: #fff;
        --input-background-color: transparent;
        --input-color: #fff;
        --input-border-color: grey;
        --box-color: #fff;
        --box-background-color: transparent;
        --box-shadow: none;
        --bar-background: transparent;
        .box {
            border: 1px solid grey;
        }
    }
    .b-tooltip {
        display: block;
        cursor: pointer;
    }
    background: var(--html-background);
    padding-top: 20px !important;

}

.messageForm {
    margin-bottom: 30px;
}

.rightBar {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    background: var(--box-background-color);
    color: var(--text);
    &__caption {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 16px;
    }
}

.rightBarMessage {
    margin-bottom: 10px;
}

.comments-list {
    margin-top: 30px;
}

.userMessage-article {
    display: flex;
    margin-bottom: 30px;
    &__image {
        width: 64px;
        height: 64px;
        flex: 0 0 64px;
        margin-right: 16px;
    }
    &__name {
        font-weight: 700;
        margin-right: 6px;
    }
    &__date {
        font-size: 12px;
    }
    &__text {
        word-break: break-all;
    }
}

.comments {
    display: flex;
    margin-bottom: 16px;
    margin-top: 16px;
    &__image {
        width: 32px;
        height: 32px;
        flex: 0 0 32px;
        margin-right: 10px;
    }
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(30px);
    opacity: 0;
}

