<template>
    <div class="home">
        <MessageForm />
        <section class="messagesList" v-if="messagesList.length">
            <transition-group name="slide-fade">
            <MessagesList v-for="message in messagesList" :message="message" :key="message.messageId" />
            </transition-group>
        </section>
    </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields'

export default {
    name: 'Home',
    components: {
        MessageForm: () => import('@/components/MessageForm'),
        MessagesList: () => import('@/components/MessagesList')
    },
    computed: {
        ...mapFields([
            'messagesList'
        ])
    }
}
</script>
