<template>
    <div class="comments">
        <div class="comments__image">
            <b-tooltip :label="comment.userName"
                       position="is-bottom">
                <b-image
                    :src="comment.img"
                    alt="A random image"
                    ratio="1by1"
                    :rounded="true"
                ></b-image>
            </b-tooltip>
        </div>
        <div class="comments__content">
            <p class="comments__text">{{ comment.comment }}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Comments',
    props: {
        comment: {
            type: Object,
            default: () => ({})
        }
    }
}
</script>

<style scoped>

</style>
