<template>
    <div class="messageForm">
        <b-field label="Сообщение" label-position="on-border">
            <b-input type="textarea" v-model.trim="message"></b-input>
        </b-field>
        <div class="level-right">
            <b-button
                type="is-primary"
                :loading="loading"
                :disabled="isDisabledButton"
                @click.prevent="send"
            >Отправить</b-button>
        </div>
    </div>
</template>

<script>
import moment from 'moment'
import { mapActions } from 'vuex'
import { messageModel } from '../data/model'
import { generateId } from '../data/helpers'
import { cloneDeep } from 'lodash'

export default {
    name: 'MessageForm',
    data: () => ({
        message: null,
        loading: false
    }),
    computed: {
        isDisabledButton () {
            return !this.message?.length
        }
    },
    methods: {
        ...mapActions([
            'sendMessage'
        ]),
        async send () {
            const model = cloneDeep(messageModel)
            model.messageId = generateId()
            model.message = this.message
            model.date = moment().format('DD.MM.YYYY H:mm')
            this.loading = true
            try {
                await this.sendMessage(model)
                this.message = null
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        }
    }
}
</script>

<style>
</style>
