<template>
    <section class="userMessage box">
        <article class="userMessage-article">
            <div class="userMessage-article__image">
                <b-tooltip label="Георгий Каиров"
                           position="is-bottom">
                    <b-image
                        :src="require('@/assets/logo.png')"
                        alt="A random image"
                        ratio="1by1"
                        :rounded="true"
                    ></b-image>
                </b-tooltip>
            </div>
            <div class="userMessage-article__content">
                <div class="userMessage-article__row">
                    <time :datetime="message.date" class="userMessage-article__date">{{ message.date }}</time>
                </div>
                <p class="userMessage-article__text" v-html="messageMod(message.message)"></p>
                <div class="comments-list" v-if="message.comments.length">
                    <transition-group name="slide-fade">
                    <Comments v-for="comment in commentMod(message.comments)" :key="comment.commentId" :comment="comment" />
                    </transition-group>
                </div>
            </div>
        </article>
    </section>
</template>

<script>
import { getRandomMs } from '../data/helpers'
import { mapActions } from 'vuex'

export default {
    name: 'Message',
    props: {
        message: {
            type: Object,
            default: () => ({})
        }
    },
    components: {
        Comments: () => import('@/components/Comments')
    },
    created () {
        this.startCommentGenerate()
    },
    beforeDestroy () {
        clearTimeout(this.interval)
    },
    data: () => ({
        interval: null,
        delay: null
    }),
    computed: {
        commentMod: () => (comments) => {
            return comments.slice(0, 3)
        },
        messageId () {
            return this.message.messageId
        },
        messageMod: () => message => {
            const imgRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#/%?=~_|!:,.;]*[-A-Z0-9+&@#/%=~_|]\.(jpg|jpeg|gif|png|svg))/ig
            return message.replace(imgRegex, (url) => {
                return `<img src="${url}" style="width: 100px; height: 100px" />`
            })
        }
    },
    methods: {
        ...mapActions([
            'generateComment'
        ]),
        start () {
            this.delay = getRandomMs()
            this.interval = setTimeout(this.start, this.delay)
            this.generateComment(this.messageId)
        },
        startCommentGenerate () {
            this.delay = getRandomMs()
            this.interval = setTimeout(this.start, this.delay)
        }
    }
}
</script>

<style>
</style>
