<template>
    <div class="rightBarMessage">
        <p class="rightBarMessage__text">{{ message.message | truncate(10) }}</p>
        <div class="rightBarMessage__count">Комментариев: {{ message.comments.length }}</div>
    </div>
</template>

<script>
export default {
    name: 'RightBarMessage',
    props: {
        message: {
            type: Object,
            default: () => ({})
        }
    },
    filters: {
        truncate (text, length) {
            if (text.length > length) {
                return `${text.substring(0, length)}...`
            } else {
                return text
            }
        }
    }
}
</script>

<style scoped>

</style>
