<template>
    <aside class="rightBar">
        <div class="rightBar__caption">Самые обсуждаемые</div>
        <div class="rightBar__messages-wr">
            <RightBarMessage v-for="message in getLastMessages" :message="message" :key="message.messageId" />
        </div>
    </aside>
</template>

<script>
import { mapGetters } from 'vuex'
import RightBarMessage from './RightBarMessage'

export default {
    name: 'RightBar',
    components: {
        RightBarMessage
    },
    computed: {
        ...mapGetters([
            'getLastMessages'
        ])
    }
}
</script>

<style scoped>

</style>
