<template>
    <div id="app">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <b-button
                        type="is-primary"
                        @click.prevent="toggleTheme"
                    >Переключить тему</b-button>
                </div>
                <div class="column is-5">
                    <router-view/>
                </div>
                <div class="column is-4">
                    <RightBar v-if="getLastMessages.length" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import RightBar from './components/RightBar'
import { mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'
export default {
    name: 'App',
    components: {
        RightBar
    },
    data: () => ({
        isDark: false,
        body: document.querySelector('body')
    }),
    created () {
        this.body.dataset.themeStyle = 'normal'
        this.setDataFromStorage()
    },
    computed: {
        ...mapFields([
            'messagesList'
        ]),
        ...mapGetters([
            'getLastMessages'
        ])
    },
    methods: {
        toggleTheme () {
            this.isDark = !this.isDark
            this.body.dataset.themeStyle = this.isDark ? 'dark' : 'normal'
        },
        setDataFromStorage () {
            const messagesList = localStorage.getItem('messagesList')
            if (messagesList) {
                this.messagesList = JSON.parse(messagesList)
            }
        }
    },
    watch: {
        messagesList: {
            deep: true,
            handler (n, o) {
                localStorage.setItem('messagesList', JSON.stringify(n))
            }
        }
    }
}
</script>

<style lang="scss">
@import '@/assets/style/style.scss';
</style>
